body{
    margin: 0;
}

.top-section{
    height:100vh;
    width: 100%;
    background-image: url(image/donation2.jpg), linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,1));
    background-blend-mode: overlay;
    opacity: 0.9;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-size: 60px;
    font-weight: bold;
    color: white;
}
p{
    font-size: 18px;
    color: rgb(255, 255, 255);
    
}
.top-section-element{
    text-align: center;
    padding: 100px 250px;
   
}

button{
    height: 50px;
    padding: 5px 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: tomato;
    border: none;
    border-radius: 5px;

}